@tailwind base;

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-semibold;
  }
  h2 {
    @apply text-2xl;
    @apply font-bold;
  }
  h3 {
    @apply text-sm;
  }

  .image-gallery {
    width: 40%;
    height: auto;
  }

  .image-gallery-slide img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;
  }

  .fullscreen .image-gallery-slide img {
    max-height: 100vh;
  }
  .excel-table {
    border-collapse: collapse;
  }

  .excel-table th,
  .excel-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  .excel-table th {
    background-color: #f2f2f2;
  }

  .excel-table td div {
    margin-bottom: 4px;
  }
}

@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
